<h1>Products</h1>
<a href= "/send_mail"> Send Mail</a>
<%= link_to "Export PDF file", products_path(format: :pdf), :target => "_blank" %>
<table>
  <thead>
    <tr>
     <th>area id</th>
      <th>id</th>
      <th>Name</th>
      <th>Classification</th>
      <th>purchase price</th>
      <th>selling price</th>
    </tr>
  </thead>
  <tbody>
   <% @products.each do |product| %>
        <tr>
          <%= render partial: "product", locals: { product: product } %>
        </tr>
    <% end %>
  </tbody>
</table>