<html>
<head>
<title></title>

<style type="text/css">
#BarraHTML {
background-color: #321797;
padding: 1px;
position: fixed;
width: 100%;
z-index: 10000;
}
#BarraHTML ul{
list-style-type: none;
}
#BarraHTML li{
display: inline;
text-align: center;
margin: 0 0 0 0;
}
#BarraHTML li a {
padding: 2px 7px 2px 7px;
text-decoration: none;
}
#BarraHTML li a:hover{
background-color: #321797;

}
#texto{
padding: 80px 0 0 0;
}
</style>
</head>

<body>

<div id="BarraHTML">
<ul>
<li><a href="#">
<div class= "logo" img id="logo" src="logo_veterinary.png" ></a></li>
<li><a href="#">Services</a></li>
<li><a href="#">Products</a></li>
<li><a href="#">Contacto</a></li>
<li><a href="#">Blog</a></li>

<li><a href="#">
<span class="icon"><i class="fa fa-search"></i></span>
<input type="search" id="search" placeholder="Search..." /></a></li>

</div>
</ul>
</div>
<div id="texto">


</div>
</body>
</html>
<h1>main page</h1>


